/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Delicious Handrawn', cursive; */
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }
  

  /*** NAVBAR STYLING STARTS ***/

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

.navbar {
  height: 60px;
  /* background-color: #7aaa78; */
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 400;
  color: #4c923e;
  text-decoration: none;
}

.nav-elements ul a.active {
  /* color: black; */
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
/* mobile navbar */
@media (max-width: 768px) {
   .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
}
}

@media (max-width: 600px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 0px;
}
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #4c923e;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .nav-elements ul a {
    color: #fff;
    
  }

  .nav-elements.active {
    width: 540px;
    
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    
  }
.nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

  
/*** HomePage ***/
.mainPage {
  margin-top: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.heading {
  width: 50%;
  margin: 10px;
  /* flex: 1%; */
  text-align: center;
  
}
.heroHeading {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  color:#4c923e;
  margin-right: 10px;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}
.headingPara {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px;
  font-size: 1.2em;
  margin-right: 10px;
}

.headingImg {
  width: 50%;
  margin: 10px;
  flex: 1;

}

.heroimg {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 46% 54% 72% 28% / 35% 59% 41% 65% ;
  /* border-radius: 69% 21% 28% 72% / 39% 20% 70% 61% ; */
  margin-left: 20px;
  margin-right: 30px;
}

@media (max-width: 1080px) {
  .headingImg {
    margin-top: 10px;
    
  }
  .heroimg {
    width: 100%;
    margin-top: 0px;
    margin-inline: 30px;
  }
}

@media (max-width: 875px) {
  .mainPage {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    margin-top: 80px;
    
  } 
  .heading {
    position: relative;
    margin-top: 100px;
    margin-left: 10px;
    
  }

  .headingImg {
    margin-top: 90px;
    
  }
  .heroimg {
    width: 100%;
    margin-top: 20px;
    margin-inline: 20px;
  }
}

@media (max-width:800px) {
  .mainPage {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    margin-top: 150px;
    
  } 
  .heading {
    position: relative;
    margin-top: 100px;
    margin-left: 10px;
    
  }

  .heroHeading {
    font-size: 2em;
    margin-right: 5px;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
  }
  .headingPara {
    /* display: flex;
    flex-direction: column; */
    margin-top: 10px;
    padding: 0px;
    font-size: 1.2em;
    margin-right: 5px;
  }

  .headingImg {
    margin-top: 110px;
  }
  .heroimg {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-inline: 10px;
    padding: 0px;
  }
}

@media(max-width: 679px) {
  .heading {
    position: relative;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    margin-inline:5px ;
    
  }

  .heroHeading {
    font-size: 2.6em;
    justify-content: center;
    align-items: center;
  }

  .headingPara {
    font-size: 1.4em;
  }

  .headingImg {
    display: none;
  }



}

.explorbtn a {
  text-decoration: none;
  color:inherit;
}

.explorbtn {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-size: 1.2em;
  color:#4c923e;
  border: 1px solid #4c923e;
  border-radius: 30px;
  background-color: #fff;
}

.explorbtn:hover {
  font-size: 1.4em;
  border: 3px solid #4c923e;
  transition: 0.3s ease-in-out;
  
}

  /*** ABOUTUS START FROM HERE ***/
  .about {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .aboutUs {
    color: rgb(158, 178, 59);
    margin-top: 80px;
    margin-bottom: 2px;
  }

  .aboutPage {
    display: flex;
    flex: 50%;
    margin-top: 20px;
  }
  .aboutheading {
    display: inline;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .heroaboutHeading {
    font-family: 'Delicious Handrawn', cursive;
    color: rgb(158, 178, 59);
    margin-bottom:5px;
    font-size: 2.5em;
    margin-top: 70px;
    /* text-decoration: underline; */
  }
  .aboutPara {
   display: flex;
   flex: 50%;
   font-size: 1.2rem;
   line-height: 1.5;
   align-items: flex-start;
   text-align:justify;
   margin-right: 15%;
   margin-top: 10px;


  }
  
  .aboutImg {
    /* margin-top: 20px; */
    flex: 50%;
    /* margin: 100px 20px 20px 130px; */ 
  }
  .aboutimg {
    border-radius: 20px;
    margin: 100px 50px 20px 100px; 
    border-radius: 74% 26% 23% 77% / 62% 76% 24% 38%;
    /* border: 1px solid green; */
  }

/*** Tranding Recipes ***/

.tranding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  color: rgb(158, 178, 59);
}

.containerOne {
  margin-top: 80px;
}

.containerTwo {
  margin-top: 50px;
}

.containerOne, .containerTwo {
 
  display:flex;
  flex-direction:row;
}

@media screen and (max-width: 800px) {
  .containerOne, .containerTwo {
    flex-direction: column;
  }
}

#titleImg {
  height:300px;
  width:300px;
/*   position:relative; */
align-items: center;
justify-content: center;
margin-left: 60px;
  
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
  width: 50px;
  height: 15px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
  
#container1, #container2, #container3, #container4, #container5, #container6, #container7{
  background-color:white;
  flex:1;
  position:relative;
  flex-direction: row;
  /* border:1px solid black; */
  margin:5px;
  box-shadow: #000;
  
}
.trandingSection {
  border-radius: 30px; 
  border: 1px solid green;
  box-shadow: 5px 5px 5px 5px gray;
  margin: 0px 5px 5px 5px;

}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 800px) {
  #container1, #container2, #container3, #container4, #container5, #container6, #container7 {
    flex-direction: column;
  }
}

/* Text-Block over image */

 
.containerheading {
  color: rgb(158, 178, 59);
  display: flex;
  position:relative;
  /* margin-left:15px; */
  align-content: center;
  justify-content:center;
  margin-top: 15px;
}
 

p {
  display:flex;
  flex-direction:row;
  padding: 15px;
  margin:2px;
  text-align: left;
  bottom:10px;
}



.centerBtn {
  position:relative;
  align-content: center;
  justify-content:center;
  margin-left:150px;
  
  
  }

.seemorebtn {
  height:50px;
  width:120px;
  color: rgb(158, 178, 59);
  border-radius:50px;
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  border: 2px solid green;
  background-color: white;
  
}

  @media screen and (max-width: 800px) {
 .centerBtn{
    flex-direction: column;
  }
}

/*** Testimony Carousel ***/

.carouselbackground {
  background-image:url("./images/foodwallpaper.jpg");
  height: 450px;
  width: 1350px;
  position: absolute;
  margin-top: 100px;
  margin-bottom: 130px;
}
.carousel {
  width: 800px;
  margin-top: 100px;
  margin-left: 280px;
  background-color: #087f5b;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}

.testimonial-img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.7);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.25);
  
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #fff;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

.btn {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot-filled {
  background-color: #087f5b;
}





  /*** Display Recipe Page ***/

/* Text Animation COntainer */

.textAnimationContainer {
  color: black;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin-block: 70px;
}
.txtanihead {
  padding: 3px;
  background-color: black;
  color: #fff;
}
.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
  
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first {
  margin-top: 8px;
  background-color:#20a7d8;
}
.second {
  margin-top: 8px;
  background-color:#CD921E;
}
.third {
  margin-top: 8px;
  background-color:green;
}

/* .fourth {
  background-color:green;
} */

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
} 

@media (max-width:995px) {
  .textAnimationContainer {
    display: none;
  }
}


.searchForm {
  display:flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: center;
  align-items: center;

}

.search-bar {
  width: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid green;
  color:green;
  border-radius: 30px;
  font-size: 20px;
  background-image: url('./images/icons8-search-more-ios-16-glyph/searchIcon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;


  /* width:50%;
  height: 20px;
  border:none;
  padding:10px;
  margin-block: 10px;
  margin-right: 2px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  background-color: #ff9a9e;
  color: ghostwhite; */

}
.search-bar:focus {
  width: 60%;
}

.search-button {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid green;
  color:green;
  margin-top: 20px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 25px;

}

.search-button :hover {
  color: antiquewhite;
}

.displayRecipe {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  border-radius: 50px;
  margin-bottom: 20px;
}

.displayRecipetitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
  color: #087f5b;
}
.displayRecipelabe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.displayRecipeimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.displayRecipeingredients{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-bottom: 20px;
  margin-inline: 2px;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* flex-wrap: wrap; */
}

img {
  border-radius: 580px;
  padding: 2px 5px;
  margin-bottom: 5px;
}

li {
  justify-content:space-between;
  align-items: center;
  list-style: none;
  padding: 2px;
}

/*** LoginPage starts from here ***/

.loginForm {
  display: flex;
  flex-direction:column;
  padding: 16px;
  background-color: white;
  margin-top: 40px;
  border: 1px solid #4c923e;
  border-radius: 20px;
}

.formHeading {
  color:#4c923e;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  /* text-decoration: underline; */
}

label {
  margin-top: 10px;
}

/* Full-width input fields */
/* input[type=text],input[type=email], input[type=password] { */
  #userName, #email, #psw, #psw-confirm {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#userName:focus, #email:focus, #psw:focus, #psw-confirm:focus{
/* input[type=text]:focus,input[type=email]:focus, input[type=password]:focus { */
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr{
  border: 1px solid #4c923e;
  /* margin-bottom: 10px; */
}

/* Set a style for the submit button */
.registerbtn {
  font-size: 1.2em;
  background-color: #4c923e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  /* background-color: #f1f1f1; */
  justify-content: center;
  text-align: center;
}

/*** SIGNUPPAGE ***/
.signupForm {
  display: flex;
  flex-direction:column;
  padding: 16px;
  background-color: white;
  margin-top: 80px;
  border: 1px solid #4c923e;
  border-radius: 20px;

}

.formHeading {
  color:#4c923e;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  /* text-decoration: underline; */
}

label {
  margin-top: 10px;
}

/* Full-width input fields */
/* input[type=email, input[type=password] { */
  #email, #psw, #psw-confirm {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#email:focus, #psw:focus, #psw-confirm:focus{
/* input[type=email]:focus, input[type=password]:focus { */
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr{
  border: 1px solid #4c923e;
  /* margin-bottom: 10px; */
}

/* Set a style for the submit button */
.signupbtn {
  font-size: 1.2em;
  background-color: #4c923e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.login {
  /* background-color: #f1f1f1; */
  justify-content: center;
  text-align: center;
}


/*** ADDRECIPE PAGE ***/

  #recipename, #imgfile, #recipeingredients {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  #recipename:focus, #imgfile:focus, #recipeingredients:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr{
    border: 1px solid #4c923e;
    /* margin-bottom: 10px; */
  }
  
  /* Set a style for the submit button */
  .addRecipe {
    font-size: 1.2em;
    background-color: #4c923e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .addRecipe :hover {
    opacity: 1;
  }

  /*** DASHBOAED PAGE ***/

.main-header {
  background: linear-gradient(to bottom, #D0C4E0,#d0c4e0, #abc9e9);
  border-radius: 40px;
  padding-top: 20px;
  width: 100%;
  max-width: 650px;
}

.main-title {
  width: 100%;
}

.main-header .main-title h1 {
  margin: 30px;
  font-size: 42px;
  color: #fff;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-decoration: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  color: #087f5b;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  border-bottom: 1px solid #1e7532;
}

.header-user {
  font-size: 1.2em;
  color:#488842;
  text-decoration: none;
  margin-top: 5px;
}

.header-user > i {
  padding-right: 10px;
}
/* 
#userName {
  padding-block: 5px;
  margin-bottom: 5px;
} */

/* ==== sidebar ==== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  color: rgb(22, 22, 21);
  background-color:#519662;
  font-size: 1.2em;
}

.active {
  color: #488e5d;
  /* background-color: black;
  border-right: 2px solid wheat; */
}

.sidebar:hover,
.sidebar:focus,
.header:focus + .sidebar,
.header:hover + .sidebar {
  left: 0;
}

.sidebar ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.sidebar ul li {
  width: 100%;
}

.sidebar-list-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3em;
  color:white;
  background-color: #4c923e;
  font-size: 1em;
}

.sidebar-list-item em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.sidebar-list-item:hover {
  color: white;
  background: black;
}

.sidebar-list-item > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 3em;
}

.sidebar-list-item > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 42em) {
  .sidebar {
    width: 4em;
    left: 0;
  }

  .sidebar:hover,
  .sidebar:focus,
  .header:hover + .sidebar,
  .header:focus + .sidebar {
    width: 15em;
  }
}

@media (min-width: 68em) {
 
  .sidebar {
    width: 15em;
  }
}

.content {
  position: relative;
  align-items: center;
  justify-content: center;
  border:1px solid black;
  margin-left: 210px;
  width: 1220px;

}

.heading {
  margin-left: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}





/*** Footer Styling ***/

.socialIcons {
  margin-top: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 20px;
}

.envlopIcon {
  display: flex;
  flex-direction: row;
}


.fa-brands .fa-solid{
  display: inline;
  background-color: #fff;
  /* margin: 5px; */
  height: 50px;
  justify-content: space-between;
}
