/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Delicious Handrawn', cursive; */
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    color:rgb(158, 178, 59);
    margin-top: 10px;
  }

  

/* 
  .nav-links {
    display: inline;
    margin-left: 850px;
  } */

  .nav-links a {
     color:black;
     
    }
    
    /* LOGO */
    .logo {
      font-family: 'Delicious Handrawn', cursive;
      font-size: 40px;
    }
    /* NAVBAR MENU */


.menu {
    display: flex;
    font-size: 22px;
    margin-left: 320px;
    
  }
  
  .menu li {
    color: rgb(97, 249, 97);;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.4rem;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
  }

  .menu li:hover {
    text-decoration: underline;
    font-size: 1.6rem;
    transition: 0.4s ease;
  }
  
  /* DROPDOWN MENU */
  
  .services {
    position: relative; 
  
  
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    display: none;  
  
  }
  
  .dropdown li + li {
    margin-top: 10px;
    display: none;
    
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    
  
  }
  
  .dropdown li:hover {
    background-color:white;
    color: rgb(23, 110, 63);
  
  }
  
  .services:hover .dropdown {
    
    display: none;
  
  }

  /*RESPONSIVE NAVBAR MENU STARTS*/

  /*HAMBURGER MENU*/
  
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  
  @media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  
  .menu li:hover {
    display: inline-block;
  }
  
  .menu li + li {
    margin-top: 12px;
  }
  
  .hamburger {
  display: block;
  }
  
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  
  .dropdown li:hover {
    background-color: rgb(97, 249, 97);;
  }
  
  }

  /* HomePage */
  .mainPage {
    display: flex;
    flex: 50%;
  }
  .heading {
    display: inline;
    margin-left: 50px;
    margin-top: 200px;
  }
  
  .heroHeading {
    font-family: 'Delicious Handrawn', cursive;
    color: rgb(158, 178, 59);
    margin-bottom:5px;
    font-size: 2.5em;
    /* text-decoration: underline; */
  }
  .headingPara {
   font-size: 1.2rem;
   line-height: 1.5;
   /* align-items: center; */
   text-align: justify;
   margin-right: 15%;

  }
  
  .headingImg {
    flex: 50%;
    /* margin: 100px 20px 20px 130px; */ 
  }
  .heroimg {
    border-radius: 20px;
    margin: 100px 20px 20px 50px; 
    border-radius: 74% 26% 23% 77% / 62% 76% 24% 38%;
    /* border: 1px solid green; */
  }

  .explorbtn {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 30px;
    border: 2px solid rgb(158, 178, 59);
    border-radius: 25px;
    height: 50px;
    width: 200px;
    background-color: #fff;
  }

  .explorbtn:hover{
    border: 4px solid rgb(158, 178, 59);
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
  }

  /* .fancyCorner {
    display: flex;
    background-color: rgb(158, 178, 59);
    border-radius: 74% 26% 23% 77% / 62% 76% 24% 38%;
    height: 450px;
    width: 600px;
    padding-left: 30px;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: -1;
    animation: fancyCorner 200s infinite;
    margin-right: 20%;
    margin-left: 20%;
  }
  
  @keyframes fancyCorner {
    50% {transform: rotate(360deg)};
  } */

  /* Aboutus */
  .about {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .aboutUs {
    color: rgb(158, 178, 59);
    margin-top: 80px;
    margin-bottom: 2px;
  }

  .aboutPage {
    display: flex;
    flex: 50%;
    margin-top: 20px;
  }
  .aboutheading {
    display: inline;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .heroaboutHeading {
    font-family: 'Delicious Handrawn', cursive;
    color: rgb(158, 178, 59);
    margin-bottom:5px;
    font-size: 2.5em;
    margin-top: 70px;
    /* text-decoration: underline; */
  }
  .aboutPara {
   display: flex;
   flex: 50%;
   font-size: 1.2rem;
   line-height: 1.5;
   align-items: flex-start;
   text-align:justify;
   margin-right: 15%;
   margin-top: 10px;


  }
  
  .aboutImg {
    /* margin-top: 20px; */
    flex: 50%;
    /* margin: 100px 20px 20px 130px; */ 
  }
  .aboutimg {
    border-radius: 20px;
    margin: 100px 50px 20px 100px; 
    border-radius: 74% 26% 23% 77% / 62% 76% 24% 38%;
    /* border: 1px solid green; */
  }

/* Tranding Recipes */

.tranding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  color: rgb(158, 178, 59);
}

.containerOne {
  margin-top: 80px;
}

.containerTwo {
  margin-top: 50px;
}

.containerOne, .containerTwo {
 
  display:flex;
  flex-direction:row;
}

@media screen and (max-width: 800px) {
  .containerOne, .containerTwo {
    flex-direction: column;
  }
}

#titleImg {
  height:300px;
  width:300px;
/*   position:relative; */
align-items: center;
justify-content: center;
margin-left: 60px;
  
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
  width: 50px;
  height: 15px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
  
#container1, #container2, #container3, #container4, #container5, #container6, #container7{
  background-color:white;
  flex:1;
  position:relative;
  flex-direction: row;
  /* border:1px solid black; */
  margin:5px;
  box-shadow: #000;
  
}
.trandingSection {
  border-radius: 30px; 
  border: 1px solid green;
  box-shadow: 5px 5px 5px 5px gray;
  margin: 0px 5px 5px 5px;

}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 800px) {
  #container1, #container2, #container3, #container4, #container5, #container6, #container7 {
    flex-direction: column;
  }
}

/* Text-Block over image */

 
.containerheading {
  color: rgb(158, 178, 59);
  display: flex;
  position:relative;
  /* margin-left:15px; */
  align-content: center;
  justify-content:center;
  margin-top: 15px;
}
 

p {
  display:flex;
  flex-direction:row;
  padding: 15px;
  margin:2px;
  text-align: left;
  bottom:10px;
}



.centerBtn {
  position:relative;
  align-content: center;
  justify-content:center;
  margin-left:150px;
  
  
  }

.seemorebtn {
  height:50px;
  width:120px;
  color: rgb(158, 178, 59);
  border-radius:50px;
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  border: 2px solid green;
  background-color: white;
  
}

  @media screen and (max-width: 800px) {
 .centerBtn{
    flex-direction: column;
  }
}

/* Testimony Carousel */

.carouselbackground {
  background-image:url("./images/foodwallpaper.jpg");
  height: 450px;
  width: 1350px;
  position: absolute;
  margin-top: 100px;
  margin-bottom: 130px;
}
.carousel {
  width: 800px;
  margin-top: 100px;
  margin-left: 280px;
  background-color: #087f5b;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}

.testimonial-img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.7);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.25);
  
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #fff;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

.btn {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot-filled {
  background-color: #087f5b;
}





  /* Recipe Page */
.search-form {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.search-bar {
  width:50%;
  height: 20px;
  border:none;
  padding:10px;
  margin-block: 10px;
  margin-right: 2px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  background-color: #ff9a9e;
  color: ghostwhite;

}

.search-button {
  font-size: medium;
  background-color: #ff9a9e;
  border: none;
  color:white;
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin-left: 2px;

}

.search-button :hover {
  color: antiquewhite;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  border-radius: 140px;
  padding: 2px 5px;
  margin-bottom: 5px;
}

li {
  justify-content:space-between;
  align-items: center;
  list-style: none;
  padding: 2px;
}




/* Footer */

.socialIcons {
  margin-top: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 20px;
}

.envlopIcon {
  display: flex;
  flex-direction: row;
}


.fa-brands .fa-solid{
  display: inline;
  background-color: #fff;
  /* margin: 5px; */
  height: 50px;
  justify-content: space-between;
}
